<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a [routerLink]="['/register']">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a [routerLink]="['/view']" >Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
<!-- <app-reg></app-reg> -->

<div class="col-md-4">
    <div class="btn btn-info" [routerLink]="['/hai']" >hai</div>
  </div>
  <div class="col-md-4">
    <div class="btn btn-info" [routerLink]="['/lazy']" >lazy</div>
  </div>
  <div class="col-md-4">
    <div class="btn btn-info" [routerLink]="['/load']" >load</div>
  </div>