<!-- <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->


<div class="col-md-6">
  <div class="btn btn-danger">dont touch
  </div>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>


<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <!-- for select field using import to select field in mapp.module -->
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="container">
  <div class="col-md-4">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite name" #name>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite id" #id>
      </mat-form-field>
      <div class="btn btn-info" (click)=addTasks(name.value,id.value)>clickMe</div>
    </form>
    <p>users area</p>
    <div *ngFor="let item of userList">
      <li>{{item.name}}--{{item.id}}</li>
    </div>
  </div>
</div>